@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

:root{
    --principal-color: rgb(140, 93, 184);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: 'Ubuntu Mono', monospace;
}
html{
    font-size: 62.5%;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--principal-color);
}
.main-container{
    display: grid;
    grid-template-rows: 1fr 3fr 2fr;
    align-items: center;
    justify-items: center;
    width: 80vw;
    height: 80vh;
    background-color: var(--principal-color);
    border-radius: 20px;
    box-shadow: 5px 5px 16px 0px rgba(0 0 0 / 25%), 
                -5px -5px 30px 0px rgba(255 255 255 / 25%);
}
header{
    display: grid;
    width: max-content;
    height: max-content;
    justify-self: baseline;
    background-color: var(--principal-color);
    padding: 15px;
    border-radius: 10px;
    margin-left: 20px;
    box-shadow: inset 5px 5px 16px 0px rgba(0 0 0 / 25%), 
                inset -5px -5px 30px 0px rgba(255 255 255 / 25%);
}
h1{
    font-weight: 700;
}
section{
    display: grid;
    grid-template-rows: 1fr 4fr;
    justify-items: center;
}
h2{
    display: grid;
    justify-content: center;
    font-weight: 700;
    width: max-content;
    height: max-content;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 16px 0px rgba(0 0 0 / 25%), 
                -5px -5px 30px 0px rgba(255 255 255 / 25%);
}
form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr 1fr;
    align-items:flex-end;
    column-gap: 20px;
}
form label{
    width: max-content;
    height: max-content;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 16px 0px rgba(0 0 0 / 25%), 
                -5px -5px 30px 0px rgba(255 255 255 / 25%);
}
form label input{
    margin-top: 10px;
    background-color: var(--principal-color);
    border-radius: 10px;
    padding: 5px;
    font-weight: 400;
    box-shadow: inset 5px 5px 16px 0px rgba(0 0 0 / 25%), 
                inset -5px -5px 30px 0px rgba(255 255 255 / 25%);
}
form label input::-webkit-outer-spin-button, form label input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
form button{
    display: grid;
    justify-self: center;
    width: max-content;
    grid-column: 1/3;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--principal-color);
    box-shadow: 5px 5px 16px 0px rgba(0 0 0 / 25%), 
                -5px -5px 30px 0px rgba(255 255 255 / 25%);
    cursor: pointer;
}
form button:hover{
    box-shadow: inset 5px 5px 16px 0px rgba(0 0 0 / 25%), 
                inset -5px -5px 30px 0px rgba(255 255 255 / 25%);
}
#result{
    width: 25vw;
    height: 10vh;
    background-color: var(--principal-color);
    display: none;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    box-shadow: 12px 12px 16px 0px rgb(0 0 0 / 25%), 
                -12px -12px 30px 0px rgb(255 255 255 / 25%);
}
#result h3{
    font-size: 1.4rem;
    font-weight: 700;
}
#warning{
    display: none;
    width: max-content;
    height: max-content;
    padding: 20px;
    background-color: var(--principal-color);
    border-radius: 10px;
    box-shadow: inset 5px 5px 16px 0px rgba(0 0 0 / 25%), 
                inset -5px -5px 30px 0px rgba(255 255 255 / 25%);
}